{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">

  <h1>Flask Application</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, 
    tempora consectetur at voluptatum expedita soluta harum earum nam dolores
     perspiciatis fugiat iure! Numquam blanditiis maiores, ullam asperiores velit illo debitis!</p>

</div>
<hr>
  <h2>Functionalities</h2>
  <ul class="list-group">
    <li class="list-group-item">404 - Page Not Found</li>
    <li class="list-group-item">Dynamic Routing</li>
    <li class="list-group-item">Login and Registration Forms With MySQL</li>
    <li class="list-group-item">You cannot go to Logout page without loggin in.</li>
    <li class="list-group-item">User Can Now Published Articles</li>
  </ul> 
{% endblock %}