{% extends "index.html" %}

{% block body %}

<form action="{{url_for('index')}}" class="form-group">

        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
        <br>
        <input type="submit" value="Submit Form">

</form>


<button type="button" class="btn btn-default" ><a href="{{url_for('signup')}}">SignUp Now</a></button>

{% endblock%}